
.topnav {
    overflow: hidden;
    background-color: #0932c8;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #0932c8;
    color: black;
  }
  
  .topnav a.home {
    background-color: #4CAF50;
    color: white;
  }
  
  .search-container {
    float: right;
  }
  
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }
  
  .table-container {
    max-height: 400px;
    overflow-y: auto;
    margin: 20px 0;
  }
  

  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #4CAF50;
    color: white;
  }
  

  .footer {
    background-color: #0932c8;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
